<?php $helper = $this->googleMapsStoreHelper; ?>
<?php if ($helper->getGMapPageTitle()): ?>
    <meta name="keywords" content="<?php /* @escapeNotVerified */
    echo $helper->getGMapPageTitle() ?>"/>
<?php endif; ?>

<?php
if ($helper->isEnabledInFrontend()):
    $stores = $this->getAllStores();
    if($stores){
        foreach($stores as $key => $value){
            $storeDescription = $helper->getGMapMetadescription();
        }
    }

    $standard_lat = $helper->getGMapStandardLatitude();
    $standard_long = $helper->getGMapStandardLongitude();
    $standard_zoom = $helper->getGMapZoom();
    ?>
<script>
    function initMap(sel) {
        var locations, i, j;

        locations = <?php echo json_encode($stores->getData()); ?>;
        var lat = <?php echo $standard_lat ?>;
        var lng = <?php echo $standard_long ?>;
        var mmzoomlevel = <?php echo $standard_zoom ?>;

        var uluru = {lat: eval(lat), lng: eval(lng)};
        var map = new google.maps.Map(document.getElementById('map_canvas'), {
            zoom: eval(mmzoomlevel),
            center: uluru
        });

        var contentString = new Array("");

        var infowindow = new google.maps.InfoWindow();
        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i]['latitude'], locations[i]['longitude']),
                map: map,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            contentString[i] = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<h3 id="firstHeading" class="firstHeading">' + locations[i]['store_name'] + '</h3>' +
                '<div id="bodyContent">' + locations[i]['store_description'] + '</div>' +
                '</div>';
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    var content = contentString;

                    infowindow.setContent(contentString[i]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    }
    function storeList(sel) {
        var locations, i, j;
        locations = <?php echo json_encode($stores->getData()); ?>;
        console.log(locations);
        var gid = locations[sel]['gmaps_id'];
        var lat = locations[sel]['latitude'];
        var lng = locations[sel]['longitude'];
        var title = locations[sel]['store_name'];
        var description = locations[sel]['store_description'];
        var mmzoomlevel = locations[sel]['zoom_level'];

        var uluru = {lat: eval(lat), lng: eval(lng)};
        var map = new google.maps.Map(document.getElementById('map_canvas'), {
            zoom: eval(mmzoomlevel),
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
        var contentString = new Array("");
        var infowindow = new google.maps.InfoWindow();
        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i]['latitude'], locations[i]['longitude']),
                map: map,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            contentString[i] = '<div id="content">' +
                '<div id="siteNotice">' +
                '</div>' +
                '<h3 id="firstHeading" class="firstHeading">' + locations[i]['store_name'] + '</h3>' +
                '<div id="bodyContent">' + locations[i]['store_description'] + '</div>' +
                '</div>';

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    var content = contentString;

                    infowindow.setContent(contentString[i]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
    }
</script>

<div id="main">
    <div class="stores">
        <?php $i=0; foreach($stores as $s_value): ?>
            <div class="store" id="stores">
                <?php  $xval= $s_value->getGmapsId()?>
                <input type="hidden" name="values"
                       id="<?php echo $i ?>"
                       value="<?php echo $xval;?>">
            </div>
            <?php $i++; endforeach; ?>
    </div>
    <div class="map" style="width: 100%;">
        <div id="map_canvas" style="height: 500px;width: 100%"></div>
        <div style="float:right;font-family: Roboto,Arial,sans-serif; font-size: 10px;margin-top: -60px;
     z-index: -1;
    position: absolute;text-align: right;">by<a style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);" href="https://www.fmeextensions.com/google-maps-store-locator-magento-2.html" rel="dofollow" target="_blank">&nbsp&nbspFmeExtensions</a></div>
    </div>
    <div id="control"></div>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=<?php echo $helper->getGMapAPIKey(); ?>&callback=initMap">
    </script>
</div>
<?php endif; ?>
    <div class="stores-list">
        <table>
            <tbody>
                <?php $i = 0; ?>
                <?php foreach ($stores as $store): ?>
                    <tr>
                        <td>
                            <?php echo $store->getStoreName(); ?>
                            <br>
                            <?php echo $store->getCity() . ' - ' . $this->getRegion($store->getRegionId()); ?>
                        </td>
                        <td>
                            <?php echo $store->getTelephone(); ?>
                            <br>
                            <?php echo $this->getFullAddress($store); ?>
                        </td>
                        <td>
                            <a href="javascript:void(0)"
                               onclick="storeList(<?php echo $i ?>)">Ver no Mapa</a>
                        </td>
                    </tr>
                    <?php $i++; ?>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>

